// colors
$accent-color: #dc56c5;
// fonts
$main-font: 'Montserrat', sans-serif;
// text color
$main-text-color: #ffffff;
$secondary-color: #dc56c5;

//animation
$transition-delay: 200ms;
$transition-cube-function: cubic-bezier(0.4, 0, 0.2, 1);
