<section class="modal-window">
  <div class="backdrop-team is-hidden-team" data-modal-team>
    <div class="modal-team-container">
      <button class="close-modal" type="button" data-modal-team-close>
        <svg class="close-modal-icon" width="11px" height="11px">
          <use href="./img/symbol-defs.svg#icon-team-close"></use>
        </svg>
      </button>
      <div class="modal-team">
        <p class="modal-team__title">IT-Creatives</p>
        <div class="modal-team__content">
          <ul class="modal-team__content-list">
            <li class="modal-team__teammate">
              <picture class="picture">
                <source srcset="./img/team/alyona.jpg 1x" media="(min-width: 768px)" />
                <source srcset="./img/team/alyona-mobile.jpg 1x" media="(max-width: 767px)" />
                <img class="teammate__pic" src="./img/team/alyona-mobile.jpg" alt="Alyona" />
              </picture>
              <p class="modal-team__teammate-name">Alyona</p>
            </li>
            <li class="modal-team__teammate">
              <picture class="picture">
                <source srcset="./img/team/svitlana.jpg 1x" media="(min-width: 768px)" />
                <source srcset="./img/team/svitlana-mobile.jpg 1x" media="(max-width: 767px)" />
                <img class="teammate__pic" src="./img/team/svitlana-mobile.jpg" alt="Svitlana" />
              </picture>
              <p class="modal-team__teammate-name">Svitlana</p>
            </li>
            <li class="modal-team__teammate">
              <picture class="picture">
                <source srcset="./img/team/yurii.jpg 1x" media="(min-width: 768px)" />
                <source srcset="./img/team/yurii-mobile.jpg 1x" media="(max-width: 767px)" />
                <img class="teammate__pic" src="./img/team/yurii-mobile.jpg" alt="Yurii" />
              </picture>
              <p class="modal-team__teammate-name">Yurii</p>
            </li>
            <li class="modal-team__teammate">
              <picture class="picture">
                <source srcset="./img/team/sergii.jpg 1x" media="(min-width: 768px)" />
                <source srcset="./img/team/sergii-mobile.jpg 1x" media="(max-width: 767px)" />
                <img class="teammate__pic" src="./img/team/sergii-mobile.jpg" alt="Sergii" />
              </picture>
              <p class="modal-team__teammate-name">Sergii</p>
            </li>
            <li class="modal-team__teammate">
              <picture class="picture">
                <source srcset="./img/team/valeriy.jpg 1x" media="(min-width: 768px)" />
                <source srcset="./img/team/valeriy-mobile.jpg 1x" media="(max-width: 767px)" />
                <img class="teammate__pic" src="./img/team/valeriy-mobile.jpg" alt="Valeriy" />
              </picture>
              <p class="modal-team__teammate-name">Valeriy</p>
            </li>
            <li class="modal-team__teammate">
              <picture class="picture">
                <source srcset="./img/team/tetiana.jpg 1x" media="(min-width: 768px)" />
                <source srcset="./img/team/tetiana-mobile.jpg 1x" media="(max-width: 767px)" />
                <img class="teammate__pic" src="./img/team/tetiana-mobile.jpg" alt="Tetiana" />
              </picture>
              <p class="modal-team__teammate-name">Tetiana</p>
            </li>
            <li class="modal-team__teammate">
              <picture class="picture">
                <source srcset="./img/team/olexandra.jpg 1x" media="(min-width: 768px)" />
                <source srcset="./img/team/olexandra-mobile.jpg 1x" media="(max-width: 767px)" />
                <img class="teammate__pic" src="./img/team/olexandra-mobile.jpg" alt="Oleksandra" />
              </picture>
              <p class="modal-team__teammate-name">Oleksandra</p>
            </li>
            <li class="modal-team__teammate">
              <picture class="picture">
                <source srcset="./img/team/oleksiy.jpg 1x" media="(min-width: 768px)" />
                <source srcset="./img/team/oleksiy-mobile.jpg 1x" media="(max-width: 767px)" />
                <img class="teammate__pic" src="./img/team/oleksiy-mobile.jpg" alt="Oleksiy" />
              </picture>
              <p class="modal-team__teammate-name">Oleksiy</p>
            </li>
            <li class="modal-team__teammate">
              <picture class="picture">
                <source srcset="./img/team/ivan.jpg 1x" media="(min-width: 768px)" />
                <source srcset="./img/team/ivan-mobile.jpg 1x" media="(max-width: 767px)" />
                <img class="teammate__pic" src="./img/team/ivan-mobile.jpg" alt="Ivan" />
              </picture>
              <p class="modal-team__teammate-name">Ivan</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>