.cards__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(
    ellipse at center,
    rgba(32, 13, 29, 1) 30%,
    rgba(32, 13, 29, 0) 80%,
    rgba(32, 13, 29, 0) 100%
  );
  z-index: 100;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  animation: 800ms fadeIn;
  @keyframes fadeIn {
    0% {
      transform: scale(0, 0);
      transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}

.cards__backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  animation: 800ms fadeOut;
  transform: translateX(-100%);
  transition: opacity 250ms linear, visibility 500ms linear, transform 500ms linear;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff2fd;

  @media screen and (min-width: 320px) {
    width: 272px;
    border-bottom-right-radius: 150px;
    border-top-left-radius: 150px;
  }
  @media screen and (min-width: 768px) {
    width: 595px;
    border-bottom-right-radius: 300px;
    border-top-left-radius: 300px;
  }

  @media screen and (min-width: 1200px) {
    width: 930px;
    border-bottom-right-radius: 300px;
    border-top-left-radius: 300px;
  }

  &__small-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    object-fit: cover;

    @media screen and (min-width: 320px) {
      height: 102px;
      width: 102px;
      margin-bottom: 18px;
      margin-top: 75px;
    }
    @media screen and (min-width: 768px) {
      height: 70px;
      width: 70px;
      margin-bottom: 43px;
      margin-top: 28px;
    }

    @media screen and (min-width: 1200px) {
      height: 132px;
      width: 132px;
      margin-bottom: 41px;
      margin-top: 62px;
    }
  }

  &__list-position {
    @media screen and (min-width: 768px) {
      display: flex;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__list-width {
    @media screen and (min-width: 320px) {
      width: 243px;
      margin-left: 12px;
      margin-right: 17px;
    }
    @media screen and (min-width: 768px) {
      width: 265px;
      margin-left: 30px;
    }
    @media screen and (min-width: 1200px) {
      width: 450px;
      margin-left: 60px;
      margin-right: 30px;
    }
  }

  &__card-poster {
    @media screen and (min-width: 320px) {
      width: 0px;
      height: 0px;
    }
    @media screen and (min-width: 768px) {
      height: auto;
      width: 233px;
      margin-left: 50px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    @media screen and (min-width: 1200px) {
      height: auto;
      width: 360px;
      margin-left: 30px;
    }
  }

  &__list-info {
    @media screen and (min-width: 320px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 20px;
    }
  }

  &__item-title {
    color: #dc56c5;
    font-weight: 600;
    @media screen and (min-width: 320px) {
      text-align: center;
      font-size: 20px;
      line-height: 1.2;
    }
    @media screen and (min-width: 768px) {
      text-align: justify;
      font-size: 20px;
      line-height: 1.2;
    }
    @media screen and (min-width: 1200px) {
      font-size: 24px;
      line-height: 1.21;
    }
  }

  &__item-text {
    color: #0e0e0e;
    font-weight: 400;

    @media screen and (min-width: 320px) {
      text-align: center;
      font-size: 16px;
      line-height: 1.25;
    }
    @media screen and (min-width: 768px) {
      text-align: justify;
      font-size: 16px;
      line-height: 1.25;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 7px;
      font-size: 18px;
      line-height: 1.222;
    }
  }

  &__price-text {
    @media screen and (min-width: 320px) {
      margin-top: 7px;
      text-align: center;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 1.25;
    }
    @media screen and (min-width: 768px) {
      margin-top: 10px;
      text-align: justify;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 1.25;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 1.22;
    }
  }
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.modal__icon-code {
  margin-bottom: -4px;
}

.time-wrapper {
  margin-bottom: 30px;
  text-align: center;
}

.time-to-event {
  color: #dc56c5;
  font-weight: 700;
  border-radius: 5px;

  @media screen and (min-width: 1200px) {
    font-size: 22px;
  }
}
