#search-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 52px;
}

@media screen and(min-width: 768px) {
  #search-form {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 108px;
  }
}

@media screen and(min-width: 1280px) {
  #search-form {
    margin-bottom: 133px;
  }
}

.search-input {
  width: 270px;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 20px;
  border: 0px transparent;
  outline: none;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  // &-internal-autofill-selected {
  //     background-color: rgb(170, 39, 39);
  // }
  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

.search-input-btn {
  cursor: pointer;
  max-width: 100px;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 20px;
  border: 0px transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
}

@media screen and (max-width: 899px) {
  .search-input-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    }
}

@media screen and (max-width: 767px) {
  .search-input-btn {
    top: 120px;
  }
}

@media screen and (min-width: 900px) {
  .search-input-btn {
    position: static;
    top: 120px;
  }
}

.search-form-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  max-height: 40px;
  width: 270px;
}

@media screen and (max-width: 767px) {
  .search-form-wrapper {
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 25px;
    }
  }
}

@media screen and (min-width: 768px) {
  .search-form-wrapper {
    &:not(:nth-last-child(-n + 2)) {
      margin-right: 30px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .search-form-wrapper {
    &:not(:nth-last-child(-n + 2)) {
      margin-right: 30px;
    }
  }
}

.countries-list {
  // background-color: rgb(64, 224, 99);

  &select {
    color: rgb(145, 34, 34);
  }
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}